.vscode/**
.vscode-test/**
.gitignore
.gitattributes
vsc-extension-quickstart.md
.yarn/**
.yarn-meta
.pnp.cjs
.pnp
.pnp.loader.mjs
package-lock.json
yarn.lock
build/**
svgo.config.js
.eslintignore
logo.svg
node_modules
tsconfig.json
tslint.json
images/**
out/**
test/**
src/**
scripts/**
**/*.map