.github/**
.vscode/**
.vscode-test/**
.gitignore
.gitattributes
.nvmrc
.eslintignore
.prettierignore
.prettierrc
.fantasticonrc.js
eslint.config.mjs
svgo.config.mjs
svgo.pro-icons.config.mjs
tsconfig.json
changelog.config.json
material-colors.yml
util.sh
vsc-extension-quickstart.md
package-lock.json
yarn.lock
.yarn/**
.yarn-meta
.pnp.cjs
.pnp
.pnp.loader.mjs
node_modules/**
build/**
out/**
src/**
scripts/**
test/**
dist/**
Pro-icons/**
**/*.map
